//jviz layout dashboard
@mixin jvizLayoutDashboard($list: $jvizNavyList, $color: $jvizWhite)
{
	//Display
	display: block; vertical-align: top;

	//Overflow
	overflow-y: hidden; overflow-x: hidden;

	//Font
	@include jvizFontNormal; font-size: 14px;

	//Size
	width: 100%; height: 100%;

	//Padding
	padding: { left: 0px; right: 0px; top: 0px; bottom: 0px; }

	//Margin
	margin: { left: 0px; right: 0px; top: 0px; bottom: 0px; }

	//Media
	@media(min-width: 1450px)
	{
		//Dashboard style
		& { width: 1450px; margin: { left: calc(50% - 725px); right: calc(50% - 725px); } }

		//Dashboard before
		&:before
		{
			//Style
			display: block; content: " "; width: calc(50% - 725px); height: 100%; float: left;

			//Position
			position: fixed; top: 0px; left: 0px;

			//Background
			background-color: nth($list, 3);
		}

		//Dashboard after
		&:after
		{
			//Style
			display: block; content: " "; width: calc(50% - 725px); height: 100%; float: right;

			//Position
			position: fixed; top: 0px; right: 0px;

			//Background
			background-color: nth($list, 3);
		}
	}

	//Sidebar
	&-sidebar { @include jvizLayoutDashboardSidebar($list, $color); }

	//Main
	&-main { @include jvizLayoutDashboardMain; }

	//Bar
	&-bar { @include jvizLayoutDashboardBar($list, $color); }

	//Bar space
	&-bar-space { display: block; width: 100%; height: 50px; }
}
