//jviz layout dashboard main
@mixin jvizLayoutDashboardMain()
{
	//Display
	display: inline-block; vertical-align: top;

	//Overflow
	overflow-y: scroll; overflow-x: hidden;

	//Size
	width: calc(100% - 255px); height: calc(100% - 70px);

	//Padding
	padding: { left: 15px; right: 15px; top: 50px; bottom: 20px; }

	//Margin
	margin: { top: 0px; bottom: 0px; left: auto; right: auto; }

	//Background
	background-color: $jvizWhite;
}
